.DS_Store
/bin/
!/bin/.gitignore
/scriptling
/scriptling-cli/scriptling-cli
/examples/mcp/scriptling-mcp-server
/examples/logging/logging_example
/examples/multi-environment/multi_env_example
__pycache__/
/tools/echo/echo
